# scraping data

In [34]:
!pip install google-play-scraper

Requirement already satisfied: google-play-scraper in /usr/local/lib/python3.11/dist-packages (1.2.7)

# Impor paket yang diperlukan

In [35]:
from google_play_scraper import app
from google_play_scraper import Sort, reviews
import pandas as pd
import numpy as np

# Scrapping data

In [36]:
result, _ = reviews(
    'com.spotify.music',
    lang='id',
    country='id',
    sort=Sort.NEWEST,
    count=12000
)

# Konversi hasil ke DataFrame pandas
df_reviews = pd.DataFrame(result)

In [37]:
df_result = df_reviews[['userName','score','content']]

# Mengecek missing value dan duplikat value

In [38]:
df_result.isnull().sum()

userName    0
score       0
content     0
dtype: int64

In [39]:
duplikat = df_reviews.duplicated()

# Tampilkan baris yang duplikat
print(df_reviews[duplikat])

Empty DataFrame
Columns: [reviewId, userName, userImage, content, score, thumbsUpCount, reviewCreatedVersion, at, replyContent, repliedAt, appVersion]
Index: []

Setelah di cek tidak ada missing value dan duplikat jadi langsung di save di csv untuk bisa dianalisis sentimennya

In [40]:
df_result.to_csv('hasil_scraping_sotify.csv', index=False)